{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD TO AUCTION</title>
    <link href="{% static '/auctions/css/add.css' %}" rel="stylesheet">

</head>


<body>
    <img src="static/auctions/media/img/logo-transparent.png" height="150" width="150" class="logoImg">

    <div class="navbar">
        <a href="{% url 'auctions:index' %}">HOME</a>
        <a href="{% url 'auctions:category_list' %}">SNEAKERS</a>
        <a href="{% url 'auctions:cart' %}">CART</a>

        {% if user.is_authenticated %}

        <div class="dropdown">
            <button class="dropbtn">MEMBERS
            </button>
            <div class="dropdown-content">
                <a href="{% url 'auctions:add' %}">ADD ITEMS</a>
                <a href="{% url 'auctions:watchlist' %}">WATCHLIST</a>
                <a href="{% url 'auctions:auctions_history' %}">AUCTION HISTORY</a>
            </div>
        </div>
        <a class="nav-link" href="{% url 'auctions:login' %}">LOGIN</a>
        <a class="nav-link" href="{% url 'auctions:logout' %}">LOGOUT</a>

        <div class="loggedIn">
            {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>
            {% else %}
            Not signed in.
            {% endif %}
        </div>
        {% else %}
        <a class="nav-link" href="{% url 'auctions:login' %}"><img src="static/auctions/media/img/user.png" width="10"
                height="10"> LOGIN</a>
        <a class="nav-link" href="{% url 'auctions:register' %}"> SIGN-UP</a>
        {% endif %}
    </div>

    <ul></ul>
    {% for category in categories %}
    <ul><a href="/category_list/{{category.0}}">{{category.1}}</a></ul>
    {% endfor %}
    </ul>

</body>

</html>
{% block body %}
<div style="margin-left:25%; padding:1px 16px; height: 1000px;">
    <div id="logo">
        <h1><i> ADD TO AUCTION </i></h1>
    </div>
    <section class="stark-form">
        <form action="{% url 'auctions:add' %}" method="POST" class="form">
            <div id="fade-box">
                {% csrf_token %}
                {{ new_form }}
                <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <div class="hexagons">
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <br>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <br>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>

            <br>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <br>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
            <span>&#x2B22;</span>
        </div>
    </section>
    <div id="circle1">
        <div id="inner-cirlce1">
            <h2> </h2>
        </div>
    </div>
</div>

{% endblock %}