{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CATERGORIES</title>
  <link href="{% static '/auctions/css/auctions_won.css' %}" rel="stylesheet">
</head>

<body>
  <header>
    <div class="nav container">
        <a class="logo" href="{% url 'auctions:index' %}"><img src="static/auctions/media/img/logo-transparent.png" height="150" width="150" class="logoImg"></a>
        <div class="topnav-right">
            <a class="nav-link-login" href="{% url 'auctions:login' %}">LOGIN</a>
            <a class="nav-link-logout" href="{% url 'auctions:logout' %}">LOGOUT</a>

        </div>

        <ul>
            <li><a class="active" href="{% url 'auctions:index' %}">HOME</a></li>
            <li><a class="nav-link" href="{% url 'auctions:category_list' %}">SNEAKERS</a></li>
            <li><a class="nav-link" href="{% url 'auctions:cart' %}">CART</a></li>

            {% if user.is_authenticated %}

            <li><a class="nav-link" href="{% url 'auctions:add' %}">ADD ITEMS TO AUCTION</a></li>
            <li><a class="nav-link" href="{% url 'auctions:watchlist' %}">WATCHLIST</a></li>
            <li><a class="nav-link" href="{% url 'auctions:auctions_history' %}">AUCTION HISTORY</a></li>


            {% endif %}
        </ul>
    </div>

</header>

  
  {% for category in categories %}
  
    <a href="/category_list/{{category.0}}">{{category.1}}</a>
  {% endfor %}
  

</body>

</html>
{% block body %}
<h1>Auctions you have won</h1>
{% if message %}
<p>{{message}}</p>
{% endif %}

{% if items %}
<div class="container">
  <div class="row">
    <iframe src="https://giphy.com/embed/9xt1MUZqkneFiWrAAD" width="240" height="240" frameBorder="0"
      class="giphy-embed" allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/winner-good-job-trophy-9xt1MUZqkneFiWrAAD"></a></p>
    {% for item in items_bids %}
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.0.img_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <span style="display: block; overflow: hidden; white-space: nowrap; height: 23px; text-overflow: ellipsis;">
              {{item.0.title}}
            </span>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.0.user.username }}</h6>
          <p class="card-text">
            <span id="item-title"
              style="display: block; overflow: hidden; white-space: nowrap; height: 23px; text-overflow: ellipsis;">
              {{item.0.description}}
            </span>
          </p>

          <div style="flex-direction: row; " class="flexbox-container">
            <label style="font-size: 20px; font-weight: bold; padding-right: 10px;">Bid</label>
            <label style="font-size: 35px; ">${{item.1.amount}}</label>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% else %}
<h4>No auctions</h4>
{% endif %}
<footer>
  <div class="footerLeft">
      <div class="footerMenu">
          <h1 class="fMenuTitle">About Us</h1>
          <ul class="fList">
              <li class="fListItem">Company</li>
              <li class="fListItem">Contact</li>
              <li class="fListItem">Careers</li>
              <li class="fListItem">Affiliates</li>
              <li class="fListItem">Stores</li>
          </ul>
      </div>
      <div class="footerMenu">
          <h1 class="fMenuTitle">Useful Links</h1>
          <ul class="fList">
              <li class="fListItem">Support</li>
              <li class="fListItem">Refund</li>
              <li class="fListItem">FAQ</li>
              <li class="fListItem">Feedback</li>
              <li class="fListItem">Stories</li>
          </ul>
      </div>
      <div class="footerMenu">
          <h1 class="fMenuTitle">Products</h1>
          <ul class="fList">
              <li class="fListItem">Air Force</li>
              <li class="fListItem">Air Jordan</li>
              <li class="fListItem">Blazer</li>
              <li class="fListItem">Crater</li>
              <li class="fListItem">Hippie</li>
          </ul>
      </div>
  </div>
  <div class="footerRight">
      <div class="footerRightMenu">
          <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
          <div class="fMail">
              <input type="text" placeholder="your@email.com" class="fInput">
              <button class="fButton">Join!</button>
          </div>
      </div>
      <div class="footerRightMenu">
          <h1 class="fMenuTitle">Follow Us</h1>
          <div class="fIcons">
              <img src="static/auctions/media/img/facebook.png" alt="" class="fIcon">
              <img src="static/auctions/media/img/twitter.png" alt="" class="fIcon">
              <img src="static/auctions/media/img/instagram.png" alt="" class="fIcon">
              <img src="static/auctions/media/img/whatsapp.png" alt="" class="fIcon">
          </div>
      </div>
      <div class="footerRightMenu">
          <span class="copyright">Team 2: FSDI_115 All rights reserved. 2022.</span>
      </div>
  </div>
</footer>


{% endblock %}