{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'static/auctions/styles.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>



<body>

    <div class="topnav">
        <img src="static/auctions/media/img/logo-transparent.png" height="100" width="100" class="logoImg">
        <div class="mainNav">
            <a class="active" href="{% url 'auctions:index' %}">HOME</a>
            <a class="nav-link" href="{% url 'auctions:category_list' %}">PRODUCTS</a>
            <a class="nav-link" href="{% url 'auctions:cart' %}">CART</a>
        </div>

        {% if user.is_authenticated %}
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a class="nav-link" href="{% url 'auctions:add' %}">ADD ITEMS</a>
                <a class="nav-link" href="{% url 'auctions:watchlist' %}">WATCHLIST</a>
                <a class="nav-link" href="{% url 'auctions:auctions_history' %}">AUCTION HISTORY</a>
            </div>
        </div>


        <a class="nav-link" href="{% url 'auctions:login' %}"><img src="static/auctions/media/img/user.png" height="30"
                width="30">LOGIN</a>
        <a class="nav-link" href="{% url 'auctions:logout' %}"><img src="static/auctions/media/img/logout.png"
                height="30" width="30">LOGOUT</a>

        <div class="loggedIn">
            {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>
            {% else %}
            Not signed in.
            {% endif %}
        </div>
        {% else %}
        <a class="nav-link" href="{% url 'auctions:login' %}"><img src="static/auctions/media/img/user.png" width="30"
                height="30"> LOGIN</a>
        <a class="nav-link" href="{% url 'auctions:register' %}"><img src="static/auctions/media/img/signup.png"
                width="30" height="30"> SIGN-UP</a>
        {% endif %}
    </div>

    <div class="header">
        <img src="static/auctions/media/img/header.jpg" width="80%">
    </div>
    <div class="headerContent">
        <h2>FEATURED STYLES</h2>
        <h3>SHOP NOW</h3>
    </div>
    <nav id="nav">
        <div class="navBottom">
            <h4 class="menuItem">AIR FORCE</h3>
                <h4 class="menuItem">JORDAN</h3>
                    <h4 class="menuItem">BLAZER</h3>
                        <h4 class="menuItem">CRATER</h3>
                            <h4 class="menuItem">HIPPIE</h3>
        </div>
    </nav>
    <div class="slider">
        <div class="sliderWrapper">
            <div class="sliderItem">
                <img src="static/auctions/media/img/air.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">AIR FORCE</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$149</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="static/auctions/media/img/jordan.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">AIR JORDAN</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$149</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="static/auctions/media/img/blazer.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">BLAZER</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$109</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="static/auctions/media/img/crater.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">CRATER</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$129</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="static/auctions/media/img/hippie.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">HIPPIE</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$99</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="feature">
            <img src="static/auctions/media/img/shipping.png" alt="" class="featureIcon">
            <span class="featureTitle">FREE SHIPPING</span>
            <span class="featureDesc">Free worldwide shipping on all orders.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="static/auctions/media/img/return.png" alt="">
            <span class="featureTitle">30 DAYS RETURN</span>
            <span class="featureDesc">No question return and easy refund in 14 days.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="static/auctions/media/img/gift.png" alt="">
            <span class="featureTitle">GIFT CARDS</span>
            <span class="featureDesc">Buy gift cards and use coupon codes easily.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="static/auctions/media/img/contact.png" alt="">
            <span class="featureTitle">CONTACT US!</span>
            <span class="featureDesc">Keep in touch via email and support system.</span>
        </div>
    </div>

    <div class="product" id="product">
        <img src="static/auctions/media/img/air.png" alt="" class="productImg">
        <div class="productDetails">
            <h1 class="productTitle">AIR FORCE</h1>
            <h2 class="productPrice">$199</h2>
            <p class="productDesc">Great shoes for style</p>
            <div class="colors">
                <div class="color"></div>
                <div class="color"></div>
            </div>
            <div class="sizes">
                <div class="size">42</div>
                <div class="size">43</div>
                <div class="size">44</div>
            </div>
            <button class="productButton">BUY NOW!</button>
        </div>
        <div class="payment">
            <h1 class="payTitle">Personal Information</h1>
            <label>Name and Surname</label>
            <input type="text" placeholder="John Doe" class="payInput">
            <label>Phone Number</label>
            <input type="text" placeholder="+1 234 5678" class="payInput">
            <label>Address</label>
            <input type="text" placeholder="Elton St 21 22-145" class="payInput">
            <h1 class="payTitle">Card Information</h1>
            <div class="cardIcons">
                <img src="static/auctions/media/img/visa.png" width="40" alt="" class="cardIcon">
                <img src="static/auctions/media/img/master.png" alt="" width="40" class="cardIcon">
            </div>
            <input type="password" class="payInput" placeholder="Card Number">
            <div class="cardInfo">
                <input type="text" placeholder="mm" class="payInput sm">
                <input type="text" placeholder="yyyy" class="payInput sm">
                <input type="text" placeholder="cvv" class="payInput sm">
            </div>
            <button class="payButton" href="cart.html">Checkout!</button>
            <span class="close">X</span>
        </div>
    </div>


    {% block body %}

    {% endblock %}

    <script type="text/javascript">
        const wrapper = document.querySelector(".sliderWrapper");
        const menuItems = document.querySelectorAll(".menuItem");

        const products = [
            {
                id: 1,
                title: "Air Force",
                price: 119,
                colors: [
                    {
                        code: "black",
                        img: "static/auctions/media/img/air.png",
                    },
                    {
                        code: "darkblue",
                        img: "static/auctions/media/img/air2.png",
                    },
                ],
            },
            {
                id: 2,
                title: "Air Jordan",
                price: 149,
                colors: [
                    {
                        code: "lightgray",
                        img: "static/auctions/media/img/jordan.png",
                    },
                    {
                        code: "green",
                        img: "static/auctions/media/img/jordan2.png",
                    },
                ],
            },
            {
                id: 3,
                title: "Blazer",
                price: 109,
                colors: [
                    {
                        code: "lightgray",
                        img: "static/auctions/media/img/blazer.png",
                    },
                    {
                        code: "green",
                        img: "static/auctions/media/img/blazer2.png",
                    },
                ],
            },
            {
                id: 4,
                title: "Crater",
                price: 129,
                colors: [
                    {
                        code: "black",
                        img: "static/auctions/media/img/crater.png",
                    },
                    {
                        code: "lightgray",
                        img: "static/auctions/media/img/crater2.png",
                    },
                ],
            },
            {
                id: 5,
                title: "Hippie",
                price: 99,
                colors: [
                    {
                        code: "gray",
                        img: "static/auctions/media/img/hippie.png",
                    },
                    {
                        code: "black",
                        img: "static/auctions/media/img/hippie2.png",
                    },
                ],
            },
        ];

        let choosenProduct = products[0];

        const currentProductImg = document.querySelector(".productImg");
        const currentProductTitle = document.querySelector(".productTitle");
        const currentProductPrice = document.querySelector(".productPrice");
        const currentProductColors = document.querySelectorAll(".color");
        const currentProductSizes = document.querySelectorAll(".size");

        menuItems.forEach((item, index) => {
            item.addEventListener("click", () => {
                //change the current slide
                wrapper.style.transform = `translateX(${-100 * index}vw)`;

                //change the choosen product
                choosenProduct = products[index];

                //change texts of currentProduct
                currentProductTitle.textContent = choosenProduct.title;
                currentProductPrice.textContent = "$" + choosenProduct.price;
                currentProductImg.src = choosenProduct.colors[0].img;

                //assing new colors
                currentProductColors.forEach((color, index) => {
                    color.style.backgroundColor = choosenProduct.colors[index].code;
                });
            });
        });

        currentProductColors.forEach((color, index) => {
            color.addEventListener("click", () => {
                currentProductImg.src = choosenProduct.colors[index].img;
            });
        });

        currentProductSizes.forEach((size, index) => {
            size.addEventListener("click", () => {
                currentProductSizes.forEach((size) => {
                    size.style.backgroundColor = "white";
                    size.style.color = "black";
                });
                size.style.backgroundColor = "black";
                size.style.color = "white";
            });
        });

        const productButton = document.querySelector(".productButton");
        const payment = document.querySelector(".payment");
        const close = document.querySelector(".close");

        productButton.addEventListener("click", () => {
            payment.style.display = "flex";
        });

        close.addEventListener("click", () => {
            payment.style.display = "none";
        });

    </script>
</body>

</html>