
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link href="{% static '/auctions/css/categories.css' %}" rel="stylesheet">
</head>

<body>
  <img src="static/auctions/media/img/logo-transparent.png" height="200" width="200" class="logoImg">

  <div class="navbar">
      <a href="{% url 'auctions:index' %}">HOME</a>
      <a href="{% url 'auctions:category_list' %}">SNEAKERS</a>
      <a href="{% url 'auctions:cart' %}">CART</a>

      {% if user.is_authenticated %}

      <div class="dropdown">
          <button class="dropbtn">MEMBERS
          </button>

          <div class="dropdown-content">
              <a href="{% url 'auctions:add' %}">ADD ITEMS</a>
              <a href="{% url 'auctions:watchlist' %}">WATCHLIST</a>
              <a href="{% url 'auctions:auctions_history' %}">AUCTION HISTORY</a>
          </div>

      </div>
      <a class="nav-link" href="{% url 'auctions:login' %}"><img src="static/auctions/media/img/user.png" height="25"
              width="25">LOGIN</a>
      <a class="nav-link" href="{% url 'auctions:logout' %}"><img src="static/auctions/media/img/logout.png"
              height="25" width="25">LOGOUT</a>
      <div class="loggedIn">
          {% if user.is_authenticated %}
          Signed in as <strong>{{ user.username }}</strong>
          {% else %}
          Not signed in.
          {% endif %}
      </div>
      {% else %}
      <a class="nav-link" href="{% url 'auctions:login' %}"><img src="static/auctions/media/img/user.png" width="30"
              height="30"> LOGIN</a>
      <a class="nav-link" href="{% url 'auctions:register' %}"><img src="static/auctions/media/img/signup.png"
              width="30" height="30"> SIGN-UP</a>
      {% endif %}
  </div>
    

    <ul></ul>
    {% for category in categories %}
        <ul><a href="/category_list/{{category.0}}">{{category.1}}</a></ul>
    {% endfor %}
    </ul>
    
</body>
</html>

{% block body %}

<div class="container-fluid" style="text-align: center;">
  <div class="row justify-content-md-center">
    <div class="col-lg-10 ">
      <div class="card">

        <img class="card-img-top" height="600px" src="{{item.img_url}}" alt="Card image cap">


        <div class="card-body">
          <h5 class="card-title" style="text-align: cente; font-size:30px;">{{item.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Member:  {{owner.username}}</h6>
          <div style="height:60px; overflow: auto;">
            <p class="card-text">Description: {{item.description}}</p>
          </div>
          <div>
            <form method="POST" action="{% url 'auctions:place_bid' %}">
              {% csrf_token %}
              {% if item.status %}
              <input name="new_bid" placeholder="Bid">
              <input hidden name="listing_title" value="{{item.title}}" placeholder="">
              <button href="#" id="myBtn" class="btn btn-primary">Place Bid</button>
              {% endif %}

            </form>
          </div>

          <div style="flex-direction: row; " class="flexbox-container">
            <label style="font-size: 20px; font-weight: bold; padding-right: 10px;">Bid</label>
            {% if last_bid %}
            <label style="font-size: 35px; ">${{last_bid}}</label>
            {% else %}
            <label style="font-size: 35px; ">${{item.starting_bid}}</label>
            {% endif %}
          </div>
          <div style="flex-flow: row wrap; " class="flexbox-container">
            <div class="row">
              <label style="padding-left: 15px; font-size: 20px; font-weight: bold; ">Status</label>
              {% if item.status %}
              {% else %}
              <div
                style="width: 20px; height: 20px; border-radius: 50%; border: 1px solid; background-color:red; opacity: 0.4;">
              </div>
              {% endif %}
            </div>
            {% if privilege %}
            <form action="{% url 'auctions:end_listing' %}" method="POST">
              {%csrf_token%}
              <input hidden name="listing_title" value="{{item.title}}">
              <button type="submit" class="btn btn-warning">Time up</button>
            </form>
            {% endif %}

            <!-- {% if item.status %} -->

            <!-- {% endif %} -->
          </div>
          {% if message_bid %}
          <p style="font-weight: bold; color: green;">{{message_bid}}</p>
          {%else%}
          {%endif%}
        </div>


        <div class="modal-body">
          <h5>Comments</h5>

          {% for comment in comments %}

          <div class="media-list">
            <li class="media">
              <a class="pull-left" href="#">
                <img class="media-object rounded-circle" height="150px"
                  src="{% static 'auctions/media/alejo_cat.jpeg'%}" alt="profile">
              </a>
              <div style="background-color: #E2E2E2; " class="media-body">
                <div style="padding: 20px; " class="well well-lg">
                  <h4 class="media-heading text-uppercase reviews">{{comment.author.username}}</h4>
                  <ul class="media-date text-uppercase reviews ">
                    <li>22</li>
                    <li>09</li>
                    <li>2014</li>
                  </ul>
                  <p class="media-comment">
                    {{comment.text}}
                  </p>
                </div>
              </div>
            </li>
          </div>
          {% empty %}
          <h6>No comment has been added yet :C</h6>
          {% endfor %}
        </div>

        <form method="POST" action="{% url 'auctions:add_comment' %}">
          {% csrf_token%}
          <div class="form-group" style="padding-top: 5px;">
            <input hidden type="text" value="{{item.title}}" name="listing_title">
            <input hidden type="text" value="{{owner.username}}" name="owner">
            <textarea class="form-control" name="commentText" id="commentText" rows="3"></textarea>
            <button class="btn btn-secondary" style="text-align: center;">Add Comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<footer>
  <div class="footerLeft">
      <div class="footerMenu">
          <h1 class="fMenuTitle">About Us</h1>
          <ul class="fList">
              <li class="fListItem">Company</li>
              <li class="fListItem">Contact</li>
              <li class="fListItem">Careers</li>
              <li class="fListItem">Affiliates</li>
              <li class="fListItem">Stores</li>
          </ul>
      </div>
      <div class="footerMenu">
          <h1 class="fMenuTitle">Useful Links</h1>
          <ul class="fList">
              <li class="fListItem">Support</li>
              <li class="fListItem">Refund</li>
              <li class="fListItem">FAQ</li>
              <li class="fListItem">Feedback</li>
              <li class="fListItem">Stories</li>
          </ul>
      </div>
      <div class="footerMenu">
          <h1 class="fMenuTitle">Products</h1>
          <ul class="fList">
              <li class="fListItem">Air Force</li>
              <li class="fListItem">Air Jordan</li>
              <li class="fListItem">Blazer</li>
              <li class="fListItem">Crater</li>
              <li class="fListItem">Hippie</li>
          </ul>
      </div>
  </div>
  <div class="footerRight">
      <div class="footerRightMenu">
          <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
          <div class="fMail">
              <input type="text" placeholder="your@email.com" class="fInput">
              <button class="fButton">Join!</button>
          </div>
      </div>
      <div class="footerRightMenu">
          <h1 class="fMenuTitle">Follow Us</h1>
          <div class="fIcons">
              <img src="static/auctions/media/img/facebook.png" alt="" class="fIcon">
              <img src="static/auctions/media/img/twitter.png" alt="" class="fIcon">
              <img src="static/auctions/media/img/instagram.png" alt="" class="fIcon">
              <img src="static/auctions/media/img/whatsapp.png" alt="" class="fIcon">
          </div>
      </div>
      <div class="footerRightMenu">
          <span class="copyright">Team 2: FSDI_115 All rights reserved. 2022.</span>
      </div>
  </div>
</footer>


{% endblock %}