{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATERGORIES</title>
    <link href="{% static '/auctions/css/watchlist.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav container">
            <a class="logo" href="{% url 'auctions:index' %}"><img src="static/auctions/media/img/logo-transparent.png" height="150" width="150" class="logoImg"></a>
            <div class="topnav-right">
                <a class="nav-link-login" href="{% url 'auctions:login' %}">LOGIN</a>
                <a class="nav-link-logout" href="{% url 'auctions:logout' %}">LOGOUT</a>

            </div>

            <ul>
                <li><a class="active" href="{% url 'auctions:index' %}">HOME</a></li>
                <li><a class="nav-link" href="{% url 'auctions:category_list' %}">SNEAKERS</a></li>
                <li><a class="nav-link" href="{% url 'auctions:cart' %}">CART</a></li>

                {% if user.is_authenticated %}

                <li><a class="nav-link" href="{% url 'auctions:add' %}">ADD ITEMS TO AUCTION</a></li>
                <li><a class="nav-link" href="{% url 'auctions:watchlist' %}">WATCHLIST</a></li>
                <li><a class="nav-link" href="{% url 'auctions:auctions_history' %}">AUCTION HISTORY</a></li>


                {% endif %}
            </ul>
        </div>

    </header>

    
    <h1>WATCHLIST</h1>

    <ul></ul>
    {% for category in categories %}
    <ul><a href="/category_list/{{category.0}}">{{category.1}}</a></ul>
    {% endfor %}
    </ul>

</body>

</html>
{% block body %}
<div class="container-fluid">

    {% for item in watchlist %}
    <hr>
    <div class="row">
        <div class="col-lg">

            <a href="{% url 'auctions:listing_details'%}?listing_title={{item.items.title}}">{{item.items.title}}</a>
        </div>
        <div class="col-lg">
            <p>{{item.items.starting_bid}}</p>
        </div>
        <div class="col-lg">
            <p>{{item.items.description}}</p>
        </div>
        <div class="col-lg">
            <form action="{% url 'auctions:delete_item_watchlist' %}" method="POST">
                {% csrf_token %}
                <input hidden name="listing_title" value="{{item.items.title}}"></input>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>

        </div>
    </div>
    {%empty%}
    <h5>Watchlist empty</h5>
    {% endfor %}

</div>



{% endblock %}