{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATERGORIES</title>
    <link href="{% static '/auctions/css/watchlist.css' %}" rel="stylesheet">
</head>

<body>

    <img src="static/auctions/media/img/logo-transparent.png" height="150" width="150" class="logoImg">

    <div class="navbar">
        <a href="{% url 'auctions:index' %}">HOME</a>
        <a href="{% url 'auctions:category_list' %}">SNEAKERS</a>
        <a href="{% url 'auctions:cart' %}">CART</a>

        {% if user.is_authenticated %}

        <div class="dropdown">
            <button class="dropbtn">MEMBERS
            </button>
            <div class="dropdown-content">
                <a href="{% url 'auctions:add' %}">ADD ITEMS</a>
                <a href="{% url 'auctions:watchlist' %}">WATCHLIST</a>
                <a href="{% url 'auctions:auctions_history' %}">AUCTION HISTORY</a>
            </div>
        </div>
        <a class="nav-link" href="{% url 'auctions:login' %}"><img src="static/auctions/media/img/user.png" height="30"
                width="30">LOGIN</a>
        <a class="nav-link" href="{% url 'auctions:logout' %}"><img src="static/auctions/media/img/logout.png"
                height="30" width="30">LOGOUT</a>

        <div class="loggedIn">
            {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>
            {% else %}
            Not signed in.
            {% endif %}
        </div>
        {% else %}
        <a class="nav-link" href="{% url 'auctions:login' %}"><img src="static/auctions/media/img/user.png" width="30"
                height="30"> LOGIN</a>
        <a class="nav-link" href="{% url 'auctions:register' %}"><img src="static/auctions/media/img/signup.png"
                width="30" height="30"> SIGN-UP</a>
        {% endif %}
    </div>
    <h1>WATCHLIST</h1>

    <ul></ul>
    {% for category in categories %}
    <ul><a href="/category_list/{{category.0}}">{{category.1}}</a></ul>
    {% endfor %}
    </ul>

</body>

</html>
{% block body %}
<div class="container-fluid">

    {% for item in watchlist %}
    <hr>
    <div class="row">
        <div class="col-lg">
            <a href="{% url 'auctions:listing_details'%}?listing_title={{item.items.title}}">{{item.items.title}}</a>
        </div>
        <div class="col-lg">
            <p>{{item.items.starting_bid}}</p>
        </div>
        <div class="col-lg">
            <p>{{item.items.description}}</p>
        </div>
        <div class="col-lg">
            <form action="{% url 'auctions:delete_item_watchlist' %}" method="POST">
                {% csrf_token %}
                <input hidden name="listing_title" value="{{item.items.title}}"></input>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>

        </div>
    </div>
    {%empty%}
    <h5>Watchlist empty</h5>
    {% endfor %}

</div>

{% endblock %}